venv/
dataset/
training/

**pycache**/
*.pyc

backend/static/uploads/
backend/static/reports/
backend/static/heatmaps/

*.log
model/brain_tumor_model.keras

venv/
dataset/
training/

backend/static/uploads/
backend/static/reports/
backend/static/heatmaps/